@charset "utf-8";

.all-sort-list .item h3 { height:30px; line-height:30px; color:#fff; font-size:14px; font-weight:normal; width:180px; padding:0 15px; overflow:hidden; }
.all-sort-list .item h3 a { color:#fff; text-decoration:none; }
.all-sort-list .item.hover h3 { position:relative; z-index:13; background:#FFF;}
.all-sort-list .item.hover h3 a { color:#B1191A; }
.all-sort-list .item-sub { 
	display:none;
	position:absolute;
	width:1000px;
	min-height:470px;
	_height:470px;
	background:#FFF;
	left:210px;
	border: 1px solid #ddd;
	top:45px;
	z-index:10;
}


.tb-pic a {display: block;text-align:center;vertical-align:middle;}
.tb-pic a img {vertical-align:middle;}

.tb-booth{border:1px solid #eee;position:relative;z-index:1; overflow:hidden;}
.tb-s310, .tb-s310 a{height:450px;width:450px; overflow:hidden;}
.tb-s310, .tb-s310 img{width:450px;}

.tb-thumb {margin:10px 0;overflow:hidden; display:block; text-align:center;width:450px;}
.tb-thumb li{background:none repeat scroll 0 0 transparent; display:inline-block; height:60px; margin: 0 5px;overflow:hidden;}
.tb-thumb li div{border:2px solid #fff;}
.tb-s40, .tb-s40 a{height:56px;width:56px; overflow:hidden;}
.tb-s40, .tb-s40 a img{width:56px;}

.tb-thumb .tb-selected{background:none repeat scroll 0 0 #C30008;height:56px;padding:2px;}
.tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;}

div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:540px;height:540px;background:#ffffff;border:1px solid #eee;display:none;text-align:center;overflow:hidden;}
div.zoomMask{position:absolute;background:url("../images/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}


