

html,body,ol,ul,li,a,span,p,input,h1,h2,h3,h4,h5,img,div {margin: 0;padding: 0;}
input {border:none;background: none;outline: none;}
button {background: none;border:none;outline: none;}
li {list-style: none;}
.fl {float: left;}
.fr {float: right;}

#header {height: 142px;background: #fff;}
.first_nav {height: 90px;width: 1200px;margin: 0 auto;border-bottom: 1px solid #f2f2f2;}
.logo {padding-top: 19px;margin-right: 34px;}
.page_nav li {float: left;list-style: none;}
.page_nav li a {display: block; color: #333;font-family: "苹方";font-size: 18px;
             	 text-decoration: none;line-height: 90px;padding: 0 20px;}

.page_nav .active {background: #31c27c;color: #fff!important;}

.search {border:1px solid #c9c9c9;border-radius: 2px;padding: 10px 32px 13px 15px;
			width: 200px;color: #919191;margin: 26px 0 0 30px;}
.button_wrap {position: relative;margin-right: 20px;}
.button_wrap img {width: 20px;height: 20px;border: none;}
.button_wrap button {position: absolute;left: 230px;top: 36px; cursor: pointer;}
.button_wrap button:hover {color:#31c27c}
.sign_in input {font-family: "苹方";height: 38px;margin-top: 24px;}
.sign_in1 {font-size: 16px;}
.sign_in2 {width: 115px;background: #31c27c;color: #fff;border-radius: 2px;margin-left: 10px;font-size: 13px;}
.sign_in3 {width: 89px;border: 1px solid #c9c9c9;border-radius: 2px;margin-left: 10px;font-size: 13px;}



.second_nav {width: 972px;height: 52px;margin: 0 auto;padding-left: 228px;}
.second_nav li {float: left;margin: 0 35px;line-height: 52px;}
.second_nav li a {text-decoration: none;color: #333;}
.second_nav li a:hover {color: #31c27c;}
.second_nav li .active {color: #31c27c;}


/*新歌首发*/
#newSing {height: 734px;background: url(../img/bg_index_new.jpg);position: relative;}
 .pre ,.next{width: 80px;height: 108px;background-color: #31c27c;position: absolute;}
#newSing .pre,#newSing .next {top: 313px;}
#recommend .pre,#recommend .next {top: 251px;}
#hot .pre,#hot .next {top: 326px;}
 .pre img,.next img {width: 18px;height: 28px;position: absolute; left: 31px; top: 40px;}
 .next {right: 0;}


.main {width: 1200px;position: absolute;top: 0;left: 360px;}
.main h1 {font-size: 48px;font-family: "苹方";font-weight: normal;color: #fff;text-indent: 502px;margin-top: 78px;margin-bottom: 46px;}
.place {margin-left: 346px; height: 48px;}
.place li {float: left;margin: 0 35px;}
.place a {color: #888;text-decoration: none;display: block;}
.place .active {color: #fff;}

.main .all {display: block;position: absolute;right: 0;top: 188px;color: #fff;text-decoration: none;}
.main .all:hover {color: #31c27c;}

#newSing .main_bannerwrap {width: 1200px;height: 414px; overflow: hidden;position: relative;}
.main_banner {height: 414px;width: 4800px;position: absolute;left: 0;top: 0;}
#newSing .main_banner li {display: block;float: left;width: 300px;height: 414px;}
.main_banner li .img {height: 300px;position: relative;}
#newSing .main_banner li .info {height: 86px;background: rgba(0,0,0,0.2);text-align: center;padding-top: 28px;}
.main_banner li .info p {color: #fff;line-height: 28px;}
.main_banner .cover {position: absolute;left: 0;top: 0;background: #000;opacity: 0.5;width: 300px;height: 300px;}
.main_banner .play_icon {width: 66px;height: 66px;position: absolute;left: 117px;top: 117px;
	opacity: 0.7;background: url(../img/playicon.png);}


.main .nav-dot {width: 1200px;height: 10px;text-align:center;font-size:0;margin-top:34px;}
.main .nav-dot a {display: inline-block;height: 1px;width: 30px;background:#6c6c6c;margin:0 5px;}
.main .nav-dot .active {background:#fff;}

/*精彩推荐*/
#recommend {height: 610px;position: relative;background: #fff;}
#recommend h1 {color: #000;font-family: "微软雅黑";font-weight: normal;position: absolute;left: 858px;top: 78px;font-size: 48px;}
.recommend_wrap {width: 1200px;height: 300px;position: absolute;left: 360px;top: 178px;overflow: hidden;position:relative;}
.recommend_main {width: 5000px;}
.recommend_main li {position: absolute;top: 27.5px;}
.recommend_main li img {width: 612.5px;height: 245px;}
.recommend_main .top img{width: 750px;height: 300px;}
.recommend_main .top {left: 225px;top: 0;z-index: 100;}
.recommend_main .left {left: 0px;top: 27.5px;}
.recommend_main .right {right: 0px; top: 27.5px;}

#recommend .nav-dot {width: 1200px;height: 10px;text-align:center;font-size:0;top:540px;position:absolute;left: 360px;}
#recommend .nav-dot a {display: inline-block;height: 1px;width: 30px;background:#b8b8b8;margin:0 5px;}
#recommend .nav-dot .active {background:#151515;}



/*排行榜*/
#rank {height: 830px;background:url(../img/rank_bg.jpg);}
.rank_wrap {height: 830px;width: 1200px;margin:0 auto;position:relative;}
.rank_wrap h1 {margin: 0 auto;font-size:48px;font-family:"微软雅黑";text-align: center;font-weight:normal;color:#fff;padding-top:78px;}
.rank_wrap .more {position:absolute;top: 130px;right: 0;color:#fff;text-decoration:none;}
.rank_wrap .rank_main {height:567px;top:178px;position:absolute;}
.rank_ul>li {float:left;width:300px;height: 567px;}

h2 {font-size:22px;text-align:center;font-weight:normal;color:#fff;padding-top:80px;}
h2 span {font-size:40px;}
.rank_ul ul {margin-top:130px;padding-left:60px;}
.rank_ul ul li {height: 54px;width: 170px;white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
.rank_ul li a {text-decoration:none;font-size:16px;color:#fff;}
.rank_ul li a span {opacity:0.5;padding-left:14px;}

.rank1 {background:url(../img/rank1.jpg)}
.rank2 {background:url(../img/rank2.jpg)}
.rank3 {background:url(../img/rank3.jpg)}
.rank4 {background:url(../img/rank4.jpg)}


/*热门歌单*/
#hot {height: 760px;position: relative;}
#hot .main_banner li .info {height: 104px;background:#333;text-align: center;padding-top: 60px;}
#hot .main_bannerwrap {width: 1200px;height: 492px; overflow: hidden;position: relative;}
#hot .main_banner li {display: block;float: left;width: 300px;height: 492px;}
.main .nav-dot .active {background:#151515;}


































